body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.centreTitle {
  text-align: center;
}

.navLogo {
  width: 90px;
}

.imgWidth {
  width: 240px;
}

.rightButton {
  float: right;
  margin-top: -20px;
  margin-bottom: 14px;
}

.logoTopPad {
  padding-top: 6px;
}

.navButton {
  border: none;
  padding-top: 15px;
  padding-right: 0;
}

.navButton a {
  text-decoration: none;
}

.navButtonFontSize {
  font-size: 15px;
  color: white;
}

.headerPaddingTop {
  padding-top: 60px;
}

.cardMarginBottom {
  margin-bottom: 30px;
}

.paddingPortfolio {
  padding-top: 20px;
  padding-left: 20px;
}

.paddingTop {
  padding-top: 20px;
}

.paddingTopStocks {
  padding-top: 30px;
}

.spaceUnder {
  padding-bottom: 19px;
}

.marginUnder {
  margin-bottom: 50px;
}

.datePicker {
  height: 25px;
  font-size: 14px;
}

.homeLogo {
  width: 300px;
  margin-top: -20px;
  padding-left: 50px;
}

i {
  color: white;
}

.inverseTextColor {
  color: white;
}

.listMatchCards:first-child {
  margin-top: 60px;
}

.portfolioStockCards:first-child {
  margin-top: 30px;
}

.headerPadCreateMatch {
  margin-bottom: 40px;
  margin-top: 70px;
}




